*.bak
*.rpt
*.done
*.cdf
*.smsg
*.summary
*.jdi
*.pin
*.pof
*.qws
*.sld
*.sof
*.qdf
*.qpg
*/incremental_db/*
*/questa/*
*/db/*
*.txt
*.exe


# allow
!*/questa/work/_info
!*/questa/*.cr.mti
!*/questa/*.mpf
!*/questa/transcript
!*.vhd
!*.v
